<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div>
      <i class="fa-regular fa-bowl-food"></i>
      <a class="navbar-brand logo" href="#">Tasty Trek</a>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'Foods', food_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Recipes', root_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'About Us', root_path, class: "nav-link"%>
      </li>
    </ul>
  </div>
</nav>