.section-title {
  text-align: center;
  padding-top: 2rem;
  font-weight: 600;
}

.recipe-card {
  box-shadow: rgba(17, 12, 46, 0.15) 0.5px 48px 100px 0.5px;
  min-height: 17rem;
  border-radius: 32px !important;
  position: relative;
}

.recipe-title {
  font-size: 2.5rem;
}

.recipe-card-options{
  gap: 68%;
  padding-left: 7%;
}